
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.suo
PtbWeb/Mvc/LogFiles/*.log*
PtbWeb/Mvc/LogFiles/*.log*
*/*.csproj.user
PtbWeb/Mvc/Images/prf/*
PtbWeb/Mvc/App_Data/ErrorLogs/*.xml
PtbWeb/Mvc/Images/prf/*
PtbWeb/Mvc/Web.Transformed.Release.config
PtbWeb/Mvc/App_Data/Cv/*
PtbWeb/Mvc/Data/ProfessionalProfile/*
*.orig
PtbWeb/Mvc/Images/t/*
packages/
ExternalComponents/*